ul.media-links {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  li {
    padding: 1em;
  }
  li button {
    background-color: $brand-color;
    color: #FFF;
    font-size: 1.75em;
    border: 2px solid darken($brand-color, 10%);
    border-radius: 1em;
    padding: 0.4em 1em;
    min-width: 10em;
    cursor: pointer;
  }
}

.center {
  text-align: center;
}

div.user {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #000;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

div#user-profile {
  background-image: url('/assets/profile-pic.jpg');
}
